@model IEnumerable<emptyProject_task.Models.WeekTask>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>@ViewBag.str</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model=>model.Id)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.MyTask</td>
                    <td>@item.WeekDay</td>
                    <td>@item.InfoTask</td>
                    <td>@item.Status</td>
                </tr>
            } 
        </tbody>
    </table>
</div>
